<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kiwi+Maru&display=swap" rel="stylesheet">
    <title>Add New Book</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1 class="book-title"><%= book.title %></h1>
    <form action="/users/<%= user._id %>/books/<%= book._id %>?_method=PUT"
        method="POST">
        <label for="title">Title:</label>
        <input value="<%= book.title %>" type="text" name="title" id="title">

        <label for="author">Author:</label>
        <input value="<%= book.author %>" type="text" name="author" id="author">

        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            <option disabled selected value> -- Select a Genre -- </option>
            <option value="fiction">Fiction</option>
            <option value="non-fiction">Non-Fiction</option>
            <option value="biography">Biography</option>
            <option value="romance">Romance</option>
            <option value="fantasy">Fantasy</option>
            <option value="science-fiction">Science Fiction</option>
            <option value="memoir">Memoir</option>
            <option value="mystery">Mystery</option>
            <option value="coming-of-age">Coming-Of-Age</option>
            <option value="young-adult">Young Adult</option>
            <option value="new-adult">New Adult</option>
            <option value="self-help">Self-Help</option>
            <option value="poetry">Poetry</option>
            <option value="history">History</option>
        </select>

        <label for="status">Read Status:</label>
        <select name="status">
            <option disabled selected value> -- Select Read Status -- </option>
            <option value="wantToRead">Want To Read</option>
            <option value="currentlyReading">Currently Reading</option>
            <option value="finishedReading">Finished Reading</option>
            <option value="dnf">Did Not Finish</option>
        </select>

        <label for="rating">Rating</label>
        <select name="rating" id="rating">
            <option disabled selected value> -- Select a Star Rating -- </option>
            <option value="one-star" <%= book.rating === "one-star" ? "selected" : "" %> >⭐</option>
            <option value="two-stars" <%= book.rating === "two-stars" ? "selected" : "" %> >⭐⭐</option>
            <option value="three-stars" <%= book.rating === "three-stars" ? "selected" : "" %> >⭐⭐⭐</option>
            <option value="four-stars" <%= book.rating === "four-stars" ? "selected" : "" %> >⭐⭐⭐⭐</option>
            <option value="five-stars" <%= book.rating === "five-stars" ? "selected" : "" %> >⭐⭐⭐⭐⭐</option>
        </select>

        <label for="review">Review:</label>
        <textarea name="review" id="review"></textarea><br>

        <button class="submit-btn" type="submit">Save Changes</button>
    </form>
</body>
</html>