<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kiwi+Maru&display=swap" rel="stylesheet">
    <title>Your TBR</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="booklist-container">
      <div class="booklist-blurb">
        <h1>Your TBR</h1>
        <a href="/users/<%=user._id%>/books/new">Add a book to your TBR here!!</a>
      </div>
        <ul>
            <% books.forEach(book => { %>
                <% if(book.status === "wantToRead"){ %>
                <li>
                  <a href="/users/<%=user._id%>/books/<%=book._id%>">
                    <%= book.title %> <span class="author-styling">by <%= book.author %> </span>
                  </a>
                </li>
                <div class="space"></div>
                <% } %>
            <% }); %>
        </ul>
    </div>
</body>
<%console.log(books)%>
</html>